
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #000066;
  padding: 10px;
    word-wrap: break-word;
    font-family: 'Oxygen';

}

.center h1 {
  color: black;
      font-family: 'Oxygen';
    font-size: 28px;

}

.center h3 {
  color: black;
      font-family: 'Oxygen';
        font-size: 20px;


}

.center p {
  color: black;
      font-family: 'Oxygen';

}

.center li {
  color: black;
      font-family: 'Oxygen';

}
